*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #212529;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenido h1{
    color: beige;
    text-align: center;
}
.accordion p{
    color: bisque;
}
footer{
    grid-area: footer;
}
.maps{
    display: flex;
    justify-content: space-between;
}
.maps iframe{
    box-shadow: 0 4px 8px 0 #ffffff6f
}
.maps a{
    text-decoration: none;
    color: bisque;
}
.footer p{
    color: bisque;
}
.texto{
    text-align: center;
    color: bisque;
}
.imagen{
    width: 100%;
}
.imagen a{
    display: flex;
    justify-content: flex-end;
}
.imagen li{
    list-style: none;
}
.imagen img{
    width: 10%;
}