#grilla{
    display: grid;
    grid-template-areas: "nav header header"
    "nav productos publicidad"
    "nav servicios publicidad"
    "nav footer footer";
    grid-template-rows: 100px 1fr 1fr 75px;
    row-gap: 10px;
    column-gap:20px;
    height: 100vh;
}
.border{
    border: solid 1px black;
}
header{
    background-color: blueviolet;
    grid-area: header;
}
footer{
    background-color: darkred;
    grid-area: footer;
}
#servicios{
    background-color: aquamarine;
    grid-area: servicios;
}
#productos{
    background-color: darkgreen;
    grid-area: productos;
}
nav{
    background-color: cornflowerblue;
    grid-area: nav;
}
aside{
    background-color: goldenrod;
    grid-area: publicidad;
}
@media(min-width: 768px){
    #grilla{
        grid-template-columns: repeat(4, 1fr);
        grid-template-columns: 20% auto
    }
    .border{
        border: 4px solid rgb(0, 0, 0);
    }
}
@media(min-width: 1024px){
    #grilla{ grid-template-columns: repeat(3, 1fr ) ;
    }
    .border{
        border: 2px solid darkred;
    }
}